<table class="table table-xs">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Indeks</th>
    <th>Pobrał</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.name %></td>
      <td><%= u.surname %></td>
      <td><%= u.login %></td>
      <% if u.pobral %>
        <td class="bg-blue-600"><%= u.pobral %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <%= turbo_stream_from 'users' %>
  <% end %>
  </tbody>
</table>
