<%= turbo_stream.replace 'lista' do %>
  <table class="table table-xs">
    <thead>
    <tr>
      <th>Nr</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Indeks</th>
      <th>Pobrał</th>
    </tr>
    </thead>

    <tbody>
    <% users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.name %></td>
        <td><%= u.surname %></td>
        <td><%= u.login %></td>
        <td><%= u.pobral %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>